h3 {
    text-align: center
}

h1 {
    text-align: center
}

hr {
    margin-left: 100px;
    margin-right: 100px;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: cadetblue;
}

.parallax {
    background-image: url("img_parallax.jpg");

    min-height: 500px; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }